*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background:#E5E7E9;

}

.contenedor{
    background: #fff;
    border-radius: 5px;
    position: absolute;
    width: 340px;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #b6a6ab;
}

.contenedor-input{
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #b6a6ab;
 }
 

 .card{
    background: #fff;
    border-radius: 5px;
}


.card-img{
    border-radius: 50%;
    width: 60%;
    height: 50%;
    margin: auto;
    background-color: #b6a6ab;
    overflow: hidden;
    margin-bottom: 15px;
}



.card-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    border-top: 1px solid #b6a6ab;
}


h3{
    text-align: center;
    margin-bottom: 10px;
}

img{
    width: 100%;
    object-fit: cover;
    display: block; 
}

input{
    outline: none;
    height: 30px;
}

button{
    width: 120px;
    height: 30px;
    cursor: pointer;
    background-color: rgba(30, 161, 161, 0.76);
    color: #fff;
    border: none;
    opacity: 0.7;
}

button:hover{
    opacity: 1;
}

p{  
    margin-top: 8px;
}

.card-content img{
    width: 50%;
    height: 140px;
    padding: 15px;
}


/* ESTILO TIPO */

.card-tipo{
    width: 80%;
    margin: 15px auto;
    height: 30px;
    display: flex;
    justify-content: center;
    
}

.card-tipo span{
   width: 50%;
   line-height: 30px;
   text-align: center;
   font-size: 20px;
   letter-spacing: 0.1em;
}



/* ERROR Y SUCCESS */


.error{
    width: 80%;
    height: 40px;
    line-height: 35px;
    margin: 20px auto;
    background-color: rgb(240, 105, 105);
    border: 2px solid rgb(228, 54, 54);
    text-align: center;
    color: #fff;
    font-size: 16px;   
}


.success{
    width: 80%;
    height: 40px;
    line-height: 35px;
    margin: 20px auto;
    background-color: rgb(15, 121, 46);
    border: 2px solid rgb(61, 241, 55);
    text-align: center;
    color: #fff;
    font-size: 16px;   
}